.main {
  composes: box from "./shared.css";
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game {
  composes: box from "./shared.css";
  flex-grow: 10;
  margin: 1em;
  margin-bottom: 0;

  position: relative;
}

.status {
  composes: box from "./shared.css";
  flex-grow: 1;
  margin: 1em;
}
