:root {
  --line-color: #ddd;
  --highlight-color: gold;
}

.box {
  border: 1px solid var(--line-color);
  color: var(--line-color);
}

.input {
  composes: box;
  background: transparent;
  border-radius: 0;
  font-size: inherit;
  cursor: pointer;
}
